<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/tyylit.css" th:href="@{tyylit.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <title>Title</title>


</head>
<body>
<div th:fragment="siteheader" class="ylanavi">

    <p><b>PITÄÄKÖ OLLA HUOLISSAAN?<br>(JAVA EDITION)</br5></b></p>
    <ul>
        <li><a href="aloitussivu.html" th:href="@{/etusivu}">Etusivu</a></li>
        <!--<li><a href="users/login.html" th:href="@{/kirjaudu}">Kirjaudu sisään</a></li>-->
        <!--<li><a href="../rek.html" th:href="@{/rekisteroidy}">Rekisteröidy</a></li>-->
        <div class="dropdown">
        <li><a class="dropbtn">Huolenaiheet
            <i class="fa fa-caret-down"></i></a></li>
            <div class="dropdown-content">
                <a th:href="'/aihealue?id='+${'Tietoturva'}">Tietoturva</a>
                <a th:href="'/aihealue?id='+${'Java'}">Java</a>
                <a th:href="'/aihealue?id='+${'GIT'}">GIT</a>
                <a th:href="'/aihealue?id='+${'Oppiminen'}">Oppiminen</a>
        </div>
        </div>
        <li> <a href="tarkoitus.html" th:href="@{/tarkoitus}">Sivun tarkoitus</a></li>
        <li><a href="/ulos.html" th:href="@{/ulos}">Kirjaudu sisään/ulos</a></li>

    </ul>

    <form style="visibility: hidden" id ="logout-form" method="post" action="#" th:action="@{/logout}"><input type="submit" value="Logout"/></form>
</div>