<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: site-head">
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../static/tyylit.css" th:href="@{tyylit.css}"/>
</head>
<body>
<div th:replace="fragments/header :: siteheader"/>
<div class="sisältö">

    <div class="oikea">
        <h1 th:text="|${uusiViesti.aihealue} huolena?|"></h1>


        <div th:each="toimi : ${kaikkiViestit}">
            <div id="kommentinTiedot">
                <p>Käyttäjä: <a th:text="*{toimi.kayttaja.kayttajanimi}"></a><a style="float: right" th:href="'/muokkaa?id='+${toimi.id}">
                    <button>Vastaa</button>
                </a></p>
                <p>Päivämäärä: <a th:text="*{toimi.luontiaika}">Lähetetty</a></p>
                <p>Otsikko:  <b th:text="*{toimi.otsikko}"></b></p>

                <p>Sisältö:   <a th:text="*{toimi.teksti}"></a></p>
                <div th:if="${toimi.vastaus}">
                <b>Vastaus: </b>
                <span th:text="*{toimi.vastaus}"></span>
                </div>
            </div>
            <br>
        </div>
<!--<<<<<<< HEAD:src/main/resources/templates/liikunta.html
        <form th:action="@{/lisattyLiikunta}" th:object="${uusiViesti}" method="post">
            Otsikko: <input required="required" th:field="*{otsikko}"/><br>
            <input th:type="hidden" th:field="*{kayttaja.id}"/>
            Aihealue: <select name="aihe" th:field="*{aihealue}">
                <option value ="Liikunta">Liikunta</option>
                <option value ="Koti">Koti</option>
                <option value ="Ruoka">Ruoka</option>
                <option value ="Autot">Autot</option>
            </select><br>
            Kommentti: <textarea required="required" th:type="text" th:field="*{teksti}"></textarea></br>
=======-->
        <form th:if="${logannutKayttaja}" th:action="@{/lisattyViesti}" method="post">
            Otsikko: &emsp;&nbsp; <input class="input1" required="required" th:field="${uusiViesti.otsikko}"/><br>
            <input th:type="hidden" th:field="*{kayttaja.id}"/>
            <input th:type="hidden" class="input3" required="required" th:field="${logannutKayttaja.kayttajanimi}"/>
            <input th:type="hidden" th:field="${uusiViesti.aihealue}" />
            Kommentti: <textarea class="input2" required="required" th:type="text" th:field="${uusiViesti.teksti}"></textarea></br>

            <button class="nappi">Lähetä uusi huoli</button>
        </form>
    </div>
</div>
</body>
</html>