<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta charset="UTF-8"/>-->
    <!--<title>Title</title>-->
    <!--<link rel="stylesheet" th:href="@{/static/css/tyylit.css}">-->
<!--</head>-->
<!--<body>-->
<!--<h1>Liikunta</h1>-->
<!--<div>-->
    <!--<table><th>Otsikko</th><th>Kommentti</th><th>Lisätty</th>-->
        <!--<tr th:each="toimi: ${kaikkiViestit}">-->
            <!--<td th:text="${toimi.otsikko}"></td>-->
            <!--<td th:text="${toimi.teksti}"></td>-->
            <!--<td th:text="${toimi.luontiaika}"></td>-->
            <!--<td th:text="${toimi.vastaus}"></td>-->
            <!--&lt;!&ndash;<td th:text="${toimi.getKayttaja().getKayttajanimi()}"></td>&ndash;&gt;-->
            <!--<td ><a th:href="'/muokkaa?id='+${toimi.id}"><button>Vastaa</button></a></td>-->
        <!--</tr>-->
    <!--</table>-->
<!--</div>-->
<!--<div th:class="kommentti">-->
    <!--<form action="#" th:action="@{/lisattyLiikunta}" th:object="${uusiViesti}" method="post">-->
        <!--Otsikko: <input required="required" th:field="*{otsikko}"/><br>-->
        <!--Kommentti: <textarea required="required" th:type="text" th:field="*{teksti}"></textarea></br>-->
        <!--<button>Lähetä aihe</button>-->
    <!--</form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../static/tyylit.css" th:href="@{tyylit.css}"/>
</head>
<body>
<h1>Pitääkö olla huolissaan?</h1>
<div class="sisältö">
    <div class="vasen">
        <h2>Huolen kohteet</h2>
        <a th:href="'/aihealue?id='+${'liikunta'}">Liikunta</a></br>
        <a th:href="'/aihealue?id='+${'ruoka'}">Ruoka</a></br>
        <a th:href="'/aihealue?id='+${'autot'}">Autot</a></br>
        <a th:href="'/aihealue?id='+${'koti'}">Koti</a></br>
        <br>
        <a th:href="@{/etusivu}">ETUSIVU</a></br>
    </div>
    <div class="oikea">
        <h2 th:text="|${aiheAlue} 'huolena?'|"></h2>
        <div th:each="toimi : ${kaikkiViestit}">
            <div id="kommentinTiedot">
                <a th:text="*{toimi.kayttaja.kayttajanimi}"></a>
                <a id="aikaleima" th:text="*{toimi.luontiaika}">Lähetetty</a>
            </div><br>
            <div id="kommentinSisältö">
                <span><b th:text="*{toimi.otsikko}"></b></span>
                <a style="float: right" th:href="'/muokkaa?id='+${toimi.id}">
                    <button>Vastaa</button>
                </a>
                <br>
                <br>
                <span th:text="*{toimi.teksti}"></span>
                <br>
                <br>
                <b>Vastaus: </b>
                <span th:text="*{toimi.vastaus}"></span>
            </div>
            <br>
        </div>
        <form th:action="@{/lisattyViesti}" method="post">
            Otsikko: <input required="required" th:field="${uusiViesti.otsikko}"/><br>
            Käyttäjä: <input required="required" th:field="${kayttaja.kayttajanimi}"/><br>
            <input th:type="hidden" th:field="${uusiViesti.aihealue}" />
            Kommentti: <textarea required="required" th:type="text" th:field="${uusiViesti.teksti}"></textarea></br>
            <button>Lähetä aihe</button>
        </form>
    </div>
</div>
</body>
</html>