<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: site-head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: siteheader"/>
<!--<h1>Pitääkö olla huolissaan?</h1>-->
<div class="sisältö">
    <div class="vasen">
        <h2>Huolen kohteet</h2>
        <a th:href="'/liikunta?id='+${'liikunta'}">Liikunta</a></br>
        <a th:href="'/liikunta?id='+${'ruoka'}">Ruoka</a></br>
        <a th:href="'/liikunta?id='+${'autot'}">Autot</a></br>
        <a th:href="'/liikunta?id='+${'koti'}">Koti</a></br>
    </div>
    <div class="oikea">
        <div style="float: right">
            <form th:action="@{/haeviesti}" th:object="${viesti}" th:method="post">
                <input th:field="*{teksti}"/>
                <button>Hae</button>
            </form>
        </div>
        <h2>Huolen aiheet</h2>
        <div th:each="toimi : ${kaikkiViestit}">
            <div id="kommentinTiedot"><a th:text="*{toimi.kayttaja.getKayttajanimi()}"></a><a id="aikaleima" th:text="*{toimi.luontiaika}">Lähetetty</a></div><br>
            <div id="kommentinSisältö">
                <span><b th:text="*{toimi.otsikko}"></b></span>
                <br>
                <br>
                <span th:text="*{toimi.teksti}"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>