<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../static/tyylit.css" th:href="@{tyylit.css}"/>
</head>
<body>
<h1>Pitääkö olla huolissaan?</h1>
<div class="sisältö">
    <div class="vasen">
        <h2>Huolen kohteet</h2>
        <a href="ruoka">Ruoka</a></br>
        <a href="liikunta">Liikunta</a></br>
        <a href="autot">Autot</a></br>
        <a href="koti">Koti</a>
    </div>
    <div class="oikea">
        <h2>Viimeisimmät huolet</h2>
        <div th:each="toimi : ${kaikkiViestit}">
            <div id="kommentinTiedot"><a th:text="*{toimi.kayttaja.getKayttajanimi()}"></a><a id="aikaleima" th:text="*{toimi.luontiaika}">Lähetetty</a></div><br>
            <div id="kommentinSisältö">
                <span><b th:text="*{otsikko}"></b></span>
                <br>
                <br>
                <span th:text="*{toimi.teksti}"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>