<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: site-head">
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/css/tyylit.css}">
</head>
<body>
<div th:replace="fragments/header :: siteheader"/>
<h1>Kaljapullo</h1>
<table class="viimeisimmat">
    <tr><th>Käyttäjä</th><th>Otsikko</th><th>Teksti</th><th>Luontipäivä</th></tr>
    <tr th:each="toimi: ${viesti}">
        <td th:text="${toimi.kayttaja.kayttajanimi}"></td>
        <td th:text="${toimi.otsikko}"></td>
        <td th:text="${toimi.teksti}"></td>
        <td th:text="${toimi.luontiaika}"></td>
        <td><a th:href="'/aihealue?id='+${toimi.aihealue}">Linkki</a></td>
    </tr>
</table>
</body>
</html>