<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: site-head">
    <meta charset="UTF-8"/>
    <title>Kirjautuminen</title>
</head>
<body>

<h1>Kirjaudu sisään</h1>
<div th:replace="fragments/header :: siteheader"/>
<div id="rekisteroidy">
<h1>Rekisteröidy käyttäjäksi</h1>

<form th:action="@{/kirjauduttu}" method="post">
    Käyttäjänimi:<br>
    <input type="text" name="kayttajanimi">
    <br>
    Salasana:<br>
    <input type="password" name="salasana">
    <br><br>
    <input type="submit" value="Kirjaudu sisään">

</form>

</div>

<table>
    <tr><th>Käyttäjänimi</th>
        <th>Salasana</th>
    </tr>

    <tr th:each="kayttajat: ${tulokset}" th:object="${kayttajat}">
        <td th:text="*{kayttajanimi}"></td>
        <td th:text="*{salasana}"></td>
    </tr>
</table>

</body>
</html>