<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Kirjautuminen</title>
</head>
<body>
<h1>Kirjaudu sisään</h1>

<form th:action="@{/kirjauduttu}" method="post">
    Käyttäjänimi:<br>
    <input type="text" name="kayttajanimi">
    <br>
    Salasana:<br>
    <input type="password" name="salasana">
    <br><br>
    <input type="submit" value="Kirjaudu sisään">

</form>


<table>
    <tr><th>Käyttäjänimi</th>
        <th>Salasana</th>
    </tr>

    <tr th:each="kayttajat: ${tulokset}" th:object="${kayttajat}">
        <td th:text="*{kayttajanimi}"></td>
        <td th:text="*{salasana}"></td>
    </tr>
</table>

</body>
</html>