<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: site-head">
    <meta charset="UTF-8"/>
    <title>Rekisteröityminen</title>
</head>
<body>
<div th:replace="fragments/header :: siteheader"/>
<div id="rekisteroidy">
<h1>Rekisteröidy käyttäjäksi</h1>

<form th:action="@{/lisaakayttaja}" method="post">
    Käyttäjänimi:<br>
    <input type="text" name="kayttajanimi">
    <br>
    Salasana:<br>
    <input type="password" name="salasana">
    <br><br>

    Valitse kiinnostuksen aiheet(tämä ei linkity mihinkään): <br>
    <input type="checkbox" name="kiinnostus" value="Auto">Auto<br>
    <input type="checkbox" name="kiinnostus" value="Liikunta">Liikunta<br>
    <input type="checkbox" name="kiinnostus" value="Tyhja">Ei mikään edellisistä
    <br><br>
    <input type="submit" value="Liity käyttäjäksi!">

</form>

</div>

<table>
    <tr><th>Käyttäjänimi</th>
        <th>Salasana</th>
    </tr>

    <tr th:each="kayttajat: ${tulokset}" th:object="${kayttajat}">
        <td th:text="*{kayttajanimi}"></td>
        <td th:text="*{salasana}"></td>
    </tr>
</table>

</body>
</html>