<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: site-head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: siteheader"/>

<p>Rekisteröinti onnistui!</p>


<table>
    <tr><th>Käyttäjänimi</th>
        <th>Salasana</th>
    </tr>

    <tr th:each="kayttajat: ${tulokset}" th:object="${kayttajat}">
        <td th:text="*{kayttajanimi}"></td>
        <td th:text="*{salasana}"></td>
    </tr>
</table>

<a href="index.html" th:href="@{/}">Tästä etusivulle</a>

</body>
</html>