<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: site-head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: siteheader"/>
<h1>Vastaapa nyt huoleen, ni saadaan sekin ratkaistua!</h1>
<form th:action="@{/muokkaus}" th:method="post" th:object="${viesti}">
    Tämä on vastaustasi kaipaava viesti:<br> <b th:text="*{teksti}"></b>
    <br>
    <textarea th:field="*{vastaus}" rows="5" cols="50"></textarea>
    <input th:type="hidden" th:field="*{id}"/>
    <br>
    <button>Lähetä vastaus</button>
</form>
</body>
</html>